header {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px 0;
  width: 1200px;
  height: 60px;
}
.logo__title {
  margin: 0 auto;
  color: var(--base-pink);
}
.logo__title-link {
  text-decoration: none;
}
.logo__title:hover {
  color: var(--light-pink);
}

.logo__subtext {
  margin: 0 5px;
  margin-top: 10px;
  color: var(--white);
}
.logo__title_pet {
  margin: 0 auto;
  padding-top: 4px;
  color: var(--basic-dark);
}
.logo__title_pet:hover {
  color: var(--basic-too-dark);
}
.logo__subtext_pet {
  margin: 0 5px;
  margin-top: 10px;
  color: var(--basic-too-dark);
}
