.nav__menu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 36px;
  align-items: center;
  list-style-type: none;
}
.nav__link {
  text-decoration: none;
  list-style: none;
  padding-bottom: 4px;
  outline: none;
  color: var(--butt-light);
  transition: 0.3s;
}
.nav__link:hover {
  color: var(--light);
}
.nav__link-active {
  border-bottom: 3px solid #f1cdb3;
  outline: none;
}
.nav__link_pets {
  color: var(--basic-dark);
  transition: 0.3s;
}
.nav__link-active_pets {
  color: var(--basic-too-dark);
}
.nav__link_pets:hover {
  color: var(--basic-too-dark);
}
.nav-buttons {
  width: 360px;
  height: 52px;
  margin: 0 auto;
  padding: 0;
}
